<%- include('html-components/head.ejs') %>
<%- include('components/navbar.ejs') %>

<h1 class="preparing-page-title">Getting Started</h1>
<div class="preparing-page page-padding">

    <%- include('components/preparing/preparing-steps.ejs') %>
    
    <%- include('components/preparing/preparing1.ejs') %>

    
</div>

<%- include('html-components/foot.ejs') %>